<section id="management" class="download text-center">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <h2 class="section-heading">Client Feedback</h2>
                <p>I was really impressed with the last demonstration that you gave to Bianca and myself. You have clearly leveraged the Microsoft capabilities well and developed a working MVP solution

<br>
<br>

I was also very impressed to see your Blog on MSDN at https://blogs.msdn.microsoft.com/uk_faculty_connection/2017/04/19/microsoft-spot-market-my-university-industrial-project/ which is a great way to highlight what you have been doing with Kent County Council and Microsoft ay UCL

<br>
<br>

The only area where I think you could have been more effective would have been to have spent less time trying to get the previous students Spot Market Engine up and running and spoofed this earlier</p>
                <h3>- Tim Gregson (Microsoft)</h3>
                <br />
                
            </div>
        </div>
    </div>
</section>
