<section id="management" class="download text-center">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <h2 class="section-heading">Manuals! <i class="fa fa-life-ring"></i></h2>
                <p>We have prepared a user manual for end-users of the bot, as well as a system manual containing bot deployment instructions.</p>
                <br />
                <a href="{{ '/assets/user-manual.pdf' | relative_url }}" class="btn btn-xl btn-outline btn-primary">User Manual</a>
                <a href="{{ '/assets/system-manual.pdf' | relative_url }}" class="btn btn-xl btn-outline btn-primary">System Manual</a>
            </div>
        </div>
    </div>
</section>
