<section id="management" class="download bg-primary text-center">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <h2 class="section-heading">Project Management</h2>
                <p>As a team of three, we were required to deliver the final product by focusing on Software Engineering and the “right and clean” way of developing a software. In the following sections, we will go through our experience on the project management of development phase.</p>
                <br>
                <h3>Project Management Methodology</h3>
                <p>Our decision for managing the project was to use Scrum project management methodology, and for executing this plan, we used Microsoft Visual Studio Team Services project management service.</p>
                <br>
                <h3>Iterations</h3>
                <p>It is believed that using iterations can help with understanding the chosen strategy for development and also allowing the team members to comprehend the development process in a much better way. In our project we decided to have three iteration over the course of developing the chat-bot. During each iteration, we included every stage of developing a product, from coding to documenting to business development(In our case, mainly presentations to clients and discussions on future improvements). As we continued, each iteration got more inclusive in regards to functionality and we got the chance to also re-evaluate our work multiple times.</p>
                <br>
                <h3>Weekly Goals, Meetups, and Discussions</h3>
                <p>In order to be sure we stay on track and continue with the decided timeline, each week we assigned few tasks to each member and gave a brief on our progress to each other in our weekly meetings. It allowed us to have a better plan for each week and the future and be able to deliver projects on time.</p>
            </div>
        </div>
    </div>
</section>
