<section id="background" class="download text-center">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <h2 class="section-heading">What is Spot Market?</h2>
                <p>Spot Market is an ambitious project to rejuvenate highstreets which in recent years have been in decline as well as help to connect consumers and retailers to mutual benefit in a secure and private manner. Spot Market allows users to find what they are looking for and get recommendations using advanced machine learning techniques to save hassle and speed up shopping! We are working with Microsoft and Kent County Council to realise these aims. In order to further the project we are creating this bot to experiment with new ways of interacting with the Spot Market Engine. <b>We hope you like what we are creating!</b></p>
                <div class="badges">
                    <a class="badge-link" href="http://microsoft.com"><img src="/img/Microsoft_logo.svg" alt=""></a>
                    <a class="badge-link" href="http://kent.gov.uk"><img src="/img/kent-county-council.svg" alt=""></a>
                </div>
            </div>
        </div>
    </div>
</section>
