<section id="development" class="download bg-primary text-center">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <h2 class="section-heading">Development! <i style="color:#21cddb" class="fa fa-line-chart"></i></h2>
                <p>How we are building the bot and why we made these choices</p>
                <br />
                <p>To keep our project organised we are using an agile methodology which is enabled by our use of Visual Studio Team Service by Microsoft. This also acts a source repository using git, find it <a style="color:#21cddb" href="https://uclix.visualstudio.com/COMP204P-2016-SPOT%20MARKET%20MICROSOFT%201/_dashboards">here</a>.<p>
                <br>
                <h3>Testing Methods</h3>
                <p>In order to see if we can provide a great user experience for consumers, we will use multiple different testing methods. As we are planning to use the Microsoft bot framework using Node.js, we will need to look into the testing strategies available for this platform.</p>
                <p><b>Unit Testing</b></p>
                <p>Unit testing allows the developer to check small “units” of the project using unit test functions. For Node.js in particular, one of the famous unit test frameworks is Mocha. Mocha is open source, simple to use and is very easy to learn. We are planning to use Mocha for testing the functional units of the bot during the development process.</p>
                <p><b>Integration Testing</b></p>
                <p>Integration testing tests the communication between units of the code, in order to show that all units work while interacting with each other. Mocha and Chai also support integration testing of a project, and we are hoping to be able to use them during our development process.</p>
                <p><b>Acceptance Testing</b></p>
                <p>As we develop the chatbot, we intend to perform user acceptance testing to monitor whether we are meeting the requirements that the client has set out. This will involve putting the bot out to regular users as well as the client to ensure that the bot behaves according to specifications and that users can easily interact with the bot. </p>
                <hr>
            </div>
        </div>
    </div>
</section>
