<section id="development" class="download bg-primary text-center">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <h2 class="section-heading">Development! <i style="color:#21cddb" class="fa fa-line-chart"></i></h2>
                <p>How we are building the bot and why we made these choices</p>
                <br />
                <p>To keep our project organised we are using an agile methodology which is enabled by our use of Visual Studio Team Service by Microsoft. This also acts a source repository using git, find it <a style="color:#21cddb" href="https://uclix.visualstudio.com/COMP204P-2016-SPOT%20MARKET%20MICROSOFT%201/_dashboards">here</a>.<p>
                <p>----<b>COMING SOON</b>----</p>
                <hr>
            </div>
        </div>
    </div>
</section>
