
    <section id="features" class="features">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <div class="section-heading">
                        <h2>Simple, Effective and Powerful</h2>
                        <p class="text-muted">Find out what core features the bot will have!</p>
                        <hr>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="device-container">
                        <div class="device-mockup galaxy_s5 portrait black">
                            <div class="device">
                                <div class="screen">
                                    <!-- Demo image for screen mockup, you can put an image here, some HTML, an animation, video, or anything else! -->
                                    <img src="/img/demo-screen-1.jpg" class="img-responsive" alt=""> </div>
                                <div class="button">
                                    <!-- You can hook the "home button" to some JavaScript events or just remove it -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-8">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="feature-item">
                                    <i class="icon-screen-smartphone text-primary"></i>
                                    <h3>No Need to Install a Client App</h3>
                                    <p class="text-muted">You already have all you need to get started!</p>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="feature-item">
                                    <i class="icon-user text-primary"></i>
                                    <h3>Personal</h3>
                                    <p class="text-muted">Uses machine learning to help you find what <b>you</b> want!</p>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="feature-item">
                                    <i class="icon-compass text-primary"></i>
                                    <h3>Location Aware</h3>
                                    <p class="text-muted">Helps you discover places where you are!</p>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="feature-item">
                                    <i class="icon-emotsmile text-primary"></i>
                                    <h3>Friendly</h3>
                                    <p class="text-muted">A better way to find what you want!</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    </section>
