<section id="research" class="download bg-primary text-center">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <h2 class="section-heading">Methodologies! <i style="color:#21cddb" class="fa fa-cog"></i></h2>
                <p>During the process of development we decided to research different software engineering methodologies to be able to manage our project in a better way. These are the methodologies that we researched:</p>
                <p><b><em>Waterfall</em></b>: This type of development methodology requires the developer to initially create a set of deadlines and linearly move towards the end goal. There is no flexibility in terms of iterating any process or changing the set of initial requirements. </p>
                <p><b><em>Agile</em></b>: Agile is one of the most famous software development methodologies. The basis of Agile is on iteration, and all of the engineering planning such as requirements can evolve during the process of development.</p>
                <p><b><em>Scrum</em></b>: Scrum is a specific type of Agile development. In scrum, the iteration mainly goes through specific sprints which are sections of development though. It is great for younger teams who have never worked with any software engineering methodology before, and is the most widely used methodology in general.</p>
                <p><b><em>Kanban</em></b>: Kanban, like Scrum, is another type of Agile development. The key difference with the other two methodologies mentioned is that Kanban visualises the process of development and has a smaller amount of work in progress at a time.[1]</p><br>
                <p>Our decision was to use the <b>Scrum</b> methodology, mainly because</p>
                <ul>
                  <li>It is widely used around the world, meaning there are a lot of resources to use.</li>
                  <li>It is supported by VSTS which is our main software engineering tool.</li>
                  <li>It is beginner friendly and helpful for our small team.[2]</li>
                </ul>
                <br>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" href="#methodology_sources">
                                <b>References (click to expand)</b>
                            </a>
                        </h4>
                    </div>
                    <div id="methodology_sources" class="panel-collpase collapse">
                        <div class="panel-body">

        <pre>
            [1]  "What is Agile Software Development?". Agile Alliance. 8 June 2013. Retrieved 01/12/2016.
            <br>
            [2]  "What is Scrum?". What is Scrum? An Agile Framework for Completing Complex Projects - Scrum Alliance. Scrum Alliance. Retrieved 01/12/2016.
            <br>
        </pre>


                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
