<section id="requirements" class="feautures bg-primary text-center">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <h2 class="section-heading">What do we hope to accomplish?</h2>
                <p>The Microsoft Spot Market Bot will be a proof of concept bot
                   that can be used by consumers to search for and be recommended
                   products and deals without having to install a client app, you
                   can connect by talking to the bot on your messenging platform
                   of choice. The bot will provide customised recommendations
                   through advanced machine learning techniques implemented by the
                   Microsoft Spot Market Engine, which will over time learn what
                   products you are interested in and if you grant it access to
                   your social media accounts, it can better help you find the
                   products you want.
                </p>
                <br />
                <p>To clearly define the goals of the bot we have created a list
                   of requirements in MoSCoW format (Must have, Should have,
                   Could have, Wont have)</p>
                <br />
                <h2 class="section-heading">Must Have:</h2>
                <ul>
                    <li>The bot must be interactive</li>
                    <li>The bot must understand natural language</li>
                    <li>The bot must use the Spot Market recommendation</li>
                    <li>The bot must get the user's location if the channel of choice allows for it</i>
                    <li>The bot must provide appropriate recommendations based on user's input</li>
                    <li>The bot must recommend pomotions and products in the vicinity of the user</li>
                    <li> The bot must be able to link to the user profile</li>
                </ul> 
                <br />
                <h2 class="section-heading">Should Have:</h2>
                <ul>
                    <li>The bot should be used to gather user feedback</li>
                    <li>The bot should not require the installation of a client app</li>
                    <li>The bot should be deployable on popular messaging platforms</li>
                    <li>The bot should be able to narrow down and present the user the most appropriate suggestions based on the results returned by the recommendation engine</li>
                </ul>
                <br />
                <h2 class="section-heading">Could Have:</h2>
                <ul>
                    <li>The bot could be energy efficient</li>
                    <li>The bot could be aesthetically pleasing</li>
                    <li>The bot could allow for discovery of new places when requested by the user</li>
                </ul.
            </div>
        </div>
    </div>
</section>
