<section id="quote" class="download bg-primary text-center">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <h2 class="section-heading">Who are we? <i style="color:brown"class="fa fa-users"></i></h2>
                <p>We are a group of three second year Computer Science students
                   from University College London
                   working with Microsoft and Kent County Council to build Microsoft
                   Spot Market Bot. This project is part of an industrial exchange
                   as part of our Systems Engineering module.
                </p>
            </div>
        </div>
    </div>
</section>
