<section id="background" class="download text-center bg-primary">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <h2 class="section-heading">Why should you use Spot Market ChatBot?</h2>
                <p>Going for shopping on the high street can sometimes get frustrating and time consuming. Trying to find the things you have been looking for and also getting some inspiration on new items to buy is not always easy, especially on the highstreet. There are also lots of places you can go for food and drinks, and finding the right spot can be tricky. Using the Spot Market chatbot, you will be able to not only find whatever you look for on the highstreet, but also get personalised recommendations for yourself based on your personal desires. The required data from you is gathered from your social media accounts and your own searches on the chatbot, and it’ll be used to train the spot market engine which is used to generate your personalised recommendations. <b>Time to do some easy shopping now!</b></p>
            </div>
        </div>
    </div>
</section>
