<section id="design" class="download bg-primary text-center">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <h2 class="section-heading">Design Patterns <i class="fa fa-puzzle-piece"></i></h2>
                <p>We have used design patterns extensively in our development process, these aid maintainability of our code as they can be recognised by other developers and avoids us having to 'reinvent the wheel' by using an accepted solution to a problem.
                </p>
            </div>
        </div>
    </div>
</section>
