<section id="design">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Tools and Techniques</h2>
                <hr class="primary">
                <br />
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-tasks wow bounceIn text-primary"></i>
                    <h3>Scrum</h3>
                    <p class="text-muted">We follow the Scrum methodology of software development!</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-windows wow bounceIn text-primary" data-wow-delay=".1s"></i>
                    <h3>Visual Studio Team Services</h3>
                    <p class="text-muted">We use Visual Studio Team Services to organise our project!</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-git wow bounceIn text-primary" data-wow-delay=".2s"></i>
                    <h3>Git</h3>
                    <p class="text-muted">We use git to handle source control so we can simultaneously and remotely work on the same code without issues!</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-skype wow bounceIn text-primary" data-wow-delay=".3s"></i>
                    <h3>Skype</h3>
                    <p class="text-muted">We use Skype for Business to communicate as a team!</p>
                </div>
            </div>
        </div>
        <div class="row">
            <h2 class="text-center">Comunication</h2>
            <p>We used Skype for business to handle much of our team communication, as well as some meetings with our clients. Over the course of the project we also used Telegram as a more informal discussion channel, Whatsapp to communicate with other groups working on Spot Market, and Slack before we had access to Skype for business. We also used email extensively to communicate with multiple stake holders in the project. By having separate formal and informal channels of communication in the team it allowed us to more easily differentiate between discussion and plans and allowed us to much more rapidly find discussion points to refer back to due to the minimum excess messages.</p>
            <br />
            <h2 class="text-center">File Storage</h2>
            <p>OneDrive was used as a main storage drive for all project files so we all had access to whatever files we needed and could refer back to them, however we also used Google Drive as it allowed easier collaboration on documents, so that was used to supplement OneDrive for individual sections of the project, for example making the video.</p>
            <br />
            <h2 class="text-center">Version Control</h2>
            <p>Git was the natural version control system as we used Visual Studio Team Services to plan out our tasks and assign them, given VSTS supported it and we were all experienced in it. We also used GitHub for some parts of the development as Azure was not able to successfully able to connect to UCL's VSTS instance for automated deployment.</p>
            <br />
            <h2 class="text-center">Integrated Development Environment</h2>
            <p>Visual Studio was used as the IDE for developing the bot as it offered integration features beyond other text editors or IDEs. For the api, standard text editors were used as there were no unique benefits of an IDE to the development.</p>
        </div>
    </div>
</section>
