<section id="requirements" class="feautures text-center">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Clients</h2>
                <hr class="primary">
                <br />
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6 text-center">
                <img class="img-responsive" src="{{ "/img/Microsoft_logo.png" | relative_url }}"></img>
            </div>
            <div class="col-lg-6 text-center">
                <img class="img-responsive" src="{{ "/img/kent-county-council.svg" | relative_url }}"></img>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6 text-center">
                <p style="font-size: 2em;">Microsoft is one of the world's leading technology companies, creating world-leading technologies including Windows, Office and Azure.</p>
            </div>
            <div class="col-lg-6 text-center">
                <p style="font-size: 2em;">Kent County Council is one of the largest local authorities by population in England, and manages public services for most of the county of Kent.</p>
            </div>
        </div>
    </div>
</section>
