<section id="requirements" class="download bg-primary text-center">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <h2 class="section-heading">User Cases</h2>
                  <h3 class="text-center"><b>User case 1: Allowing user to login to their profile</b></h3>
                  <ul>
                    <li>Entering the /login command as text/action button</li>
                    <li>Receiving message to enter username</li>
                    <li>Entering username</li>
                    <li>Receiving one time password in an email</li>
                    <li>Entering the code</li>
                    <li>Logging successfully into account</li>
                  </ul>
                  <h3 class="text-center"><b>User case 2: Allowing user to ask for an item/place</b></h3>
                  <ul>
                    <li>Chatbot asking the user to enter if they are asking for an item or place.</li>
                    <li>User choosing one of the two options</li>
                    <li>Chatbot sending acknowledgement to the user</li>
                    <li>User entering specified item/place</li>
                    <li>Chatbot returning it’s result</li>
                  </ul>
                  <h3 class="text-center"><b>User case 3: Allowing user to enter their location</b></h3>
                  <ul>
                    <li>User sending their location through the channel</li>
                    <li>Chatbot saving the location and sending acknowledgement</li>
                  </ul>
                  <h3 class="text-center"><b>User case 4: Asking for user feedback</b></h3>
                  <ul>
                    <li>Chatbot asking the user to choose an option if their feedback was useful or not</li>
                    <li>User choosing the option via number/action button</li>
                    <li>Chatbot sending acknowledgement</li>
                  </ul>
            </div>
        </div>
    </div>
</section>
