<section id="requirements" class="download bg-primary text-center">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <h2 class="section-heading">User Cases</h2>
                  <h3 class="text-center">User case 1: Allowing user to login to their profile</h3>

                    <p>Entering the /login command as text/action button</p>
                    <p>Receiving message to enter username</p>
                    <p>Entering username</p>
                    <p>Receiving one time password in an email</p>
                    <p>Entering the code</p>
                    <p>Logging successfully into account</p>

                  <h3 class="text-center">User case 2: Allowing user to ask for an item/place</h3>

                    <p>Chatbot asking the user to enter if they are asking for an item or place.</p>
                    <p>User choosing one of the two options</p>
                    <p>Chatbot sending acknowledgement to the user</p>
                    <p>User entering specified item/place</p>
                    <p>Chatbot returning it’s result</p>

                  <h3 class="text-center">User case 3: Allowing user to enter their location</h3>

                    <p>User sending their location through the channel</p>
                    <p>Chatbot saving the location and sending acknowledgement</p>

                  <h3 class="text-center">User case 4: Asking for user feedback</h3>

                    <p>Chatbot asking the user to choose an option if their feedback was useful or not</p>
                    <p>User choosing the option via number/action button</p>
                    <p>Chatbot sending acknowledgement</p>

            </div>
        </div>
    </div>
</section>
