<section id="research" class="download bg-primary text-center">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <h2 class="section-heading">Research! <i class="fa fa-line-chart"></i></h2>
                <p>We are using the Microsoft Bot Framework as it provides a scalable, responsive platform for bots to be deployed on multiple chat channels, including Skype, Telegram, Slack and Facebook Messenger.</p>
				<p>To equip the bot with an understanding of natural language in a conversational context, we looked into various services providing language understanding models. We explored Wit.ai, IBM Watson, API.ai and Microsoft's Language Understanding Intelligent Service (LUIS). We found that Microsoft's LUIS service, part of Microsoft's Cognitive Services suite, worked well and was a good fit for our bot, allowing intents and entities like products and places to be picked up and distinguished from other textual elements in natural language.</p>
                <br>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" href="#high_level_overview">
                                <b>High level overview</b>
                            </a>
                        </h4>
                    </div>
                    <div id="high_level_overview" class="panel-collpase collapse in">
                        <div class="panel-body">
                            <img src="{{ "/img/high_level_overview.png" | relative_url }}"></img>
                        </div>
                    </div>
                </div>
                <br>
            </div>
        </div>
    </div>
</section>
