<!DOCTYPE html>
<html lang="en">

{% include head.html %}

<body id="page-top">
  {% include nav.html %}
  {% include header.html %}
  {% include background.html %}
  {% include aside.html %}
  {% include requirements.html %}
  {% include features.html %}
  {% include research.html %}
  {% include experiments.html %}
  {% include development.html %}
  {% include tools.html %}
  {% include team.html %}
  {% include people.html %}
  {% include biweekly.html %}
  {% include timeline.html %}
  {% include quote.html %}
  {% include footer.html %}
  {% include scripts.html %}
</body>

</html>
