    <section id="home" class="features">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <div>
                        <h3>Spot Market ChatBot is an attempt to design a new interface to the Spot Market engine to help regenerate the high street by making it easier to find products and retailers using machine learning. We have built a chat bot using Microsoft bot framework available on multiple instant messaging platforms, which allows users to connect to it and talk to it using natural language to find what they are looking for.</h3>
                        <hr>
                    </div>
                </div>
            </div>
    </section>
