<section id="home" class="download text-center">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <h2 class="section-heading">Product Video <i class="fa fa-video-camera"></i></h2>
                <p>To demonstrate the Spot Market ChatBot we have produced a video to showcase it!
                </p>
                <p><iframe width="560" height="430" src="https://www.youtube.com/embed/Bye18uSHgh4?rel=0" frameborder="0" allowfullscreen></iframe></p>
            </div>
        </div>
    </div>
</section>
