<section id="hci" class="download">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <h2 class="text-center"><b>HCI Principles</b></h2>
                <hr>
                <br>
                <h3 class="text-center"><b>Affordance</b></h3>
                <p>The flow of the conversation with the chatbot is the main element that shows the abilities of the bot to the user in their first interactions. Engineering this flow will allow the user to move in the right direction and totally understand the full abilities of the bot without making way too much effort.</p>
                <br>
                <p>Our flow of conversation starts with asking the user’s name, showing them all the options they can choose, and requesting them to enter what they are looking for. If they are not logged in, we let them know about the benefits of doing so. We also directly ask them to send feedback by pushing a button (If supported by the channel, otherwise they would enter the number of option given.) Therefore they can quickly understand the core functionalities of the bot and get used to using it.</p>
                <br>
                <p class="text-center"><b>Constraints</b></p>
                <p>In a similar manner to affordance, constraints focus on not letting the user to get into a loop of unsupported requests from the bot. Putting on constraints over the conversations is very important as the user can ask for things that the chatbot does not understand. We have designed the bot response in a way that makes the user start a correct conversation by making applicable requests for items or places.</p>
                <br>
                <p class="text-center"><b>Feedback</b></p>
                <p>In natural language processing, there is a high possibility for the understanding unit to handle user’s input incorrectly, as a result of using synonym words or abstract concepts. Therefore we need to make sure the result given to the user is evaluated.</p>
                <br>
                <p>The way we are handling this principle is to ask the user about the quality of the recommendation made and if they are satisfied with it or not. This feedback can change the sentiment of the result in the spot market engine for that specific user, and in the future a more compatible result would be given to the user.</p>
                <br>
                <p class="text-center"><b>Consistency</b></p>
                <p>Users do not appreciate changes in the flow of control. Therefore it is crucial to have an understandable and consistent flow of conversation that is the same for most of the chatbot’s abilities. </p>
                <br>
                <p>For us, the key to handle this principle properly, was to train the LUIS model in a way to properly understand generic request phrases for items and places, so the user would not face any situation in which the chatbot did not understand their request. The generic commands to use the bot all work in a similar way, and there is no dramatic change from one to another.</p>
                <hr>
            </div>
        </div>
    </div>
</section>
