<section id="personas" class="download bg-primary">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <h2 class="section-heading">Personas</h2>
                <p>We wanted to design the bot around the user, optimizing it around the needs of the user and how they would use the bot.</p>
                <p>We created personas to represent users that might be using the chatbot.</p>
                <hr class="primary">
                <br />
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="text-center">
                <a href="{{ '/assets/persona-1.pdf' | relative_url }}" target="_blank">
                    <img src="{{ "/img/persona-1.png" | relative_url }}" width="400"></img>
                </a>
                <a href="{{ '/assets/persona-1.pdf' | relative_url }}" target="_blank">
                    <img src="{{ "/img/persona-1.png" | relative_url }}" width="400"></img>
                </a>
                <!-- <img src="{{ "/img/persona-1.png" | relative_url }}" width="800"></img> -->
                <br />
                <br />
                <p><i>Click to view larger.</i></p>
            </div>
        </div>
    </div>
</section>
